*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.input-group{
    margin-top: 10px;
}
.table{    	
	max-height: 500px;
	margin: 15px 0px;
	overflow-y: auto;
}
form .alert {
	padding: 20px;
	background-color: #f44336;
	color: white;
	display: none;
	margin: 10px 0px 0px 0px;
}
form .closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}
